Repository hmcts/probate-orchestrator-service, pull requests merged in 2019-07, with the labels that each got.

#82 PRO-5546: Caveat payment callback
  src/main/java/uk/gov/hmcts/probate/client/SubmitServiceApi.java
  src/main/java/uk/gov/hmcts/probate/client/SubmitServiceConfiguration.java
  src/main/java/uk/gov/hmcts/probate/core/service/PaymentUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/core/service/SubmitServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/service/SubmitService.java
  src/test/java/uk/gov/hmcts/probate/core/service/PaymentUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/SubmitServiceImplTest.java
Labels: do not merge, ns:probate-orchestrator-service-pr-82

#86 Pro 5641 update owasp
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate-orchestrator-service-pr-86

#85 Pro 5556 default caveats cases to digital
  bin/ccd-add-citizen-role.sh
  build.gradle
  docker/docker-compose-with-ccd.yml
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/CaveatMapper.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/CaveatMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/CaveatTestDataCreator.java
Labels: ns:probate-orchestrator-service-pr-85

#88 PRO-5616: set cav exp date from bo notification call
  src/main/java/uk/gov/hmcts/probate/core/service/BackOfficeServiceImpl.java
  src/test/java/uk/gov/hmcts/probate/core/service/BackOfficeServiceImplTest.java
Labels: do not merge, ns:probate-orchestrator-service-pr-88

#92 PRO-5824: added applicationSubmittedDate for FE caveat creation
  src/main/java/uk/gov/hmcts/probate/core/service/BackOfficeServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/model/backoffice/BackOfficeCaveatData.java
  src/test/java/uk/gov/hmcts/probate/core/service/BackOfficeServiceImplTest.java
Labels: ns:probate-orchestrator-service-pr-92
