Repository hmcts/probate-orchestrator-service, pull requests merged in 2019-03, with the labels that each got.

#36 remove prod break
  Jenkinsfile_CNP
Labels: ns:probate-orchestrator-service-pr-36

#37 PRO-4960: Updated docker script to work with local fees-api
  bin/ccd-add-all-roles.sh
  docker/docker-compose-with-ccd.yml
Labels: ns:probate-orchestrator-service-pr-37

#40 Pro 4999 java health
  build.gradle
  charts/probate-orchestrator-service/Chart.yaml
  charts/probate-orchestrator-service/requirements.yaml
  src/main/java/uk/gov/hmcts/probate/security/SecurityConfiguration.java
  src/main/resources/application.yml
Labels: ns:probate-orchestrator-service-pr-40

#42 PRO-5001: change caveat from applicant email to applicationId
  build.gradle
  docker/docker-compose-with-ccd.yml
  src/main/java/uk/gov/hmcts/probate/client/SubmitServiceApi.java
  src/main/java/uk/gov/hmcts/probate/client/SubmitServiceConfiguration.java
  src/main/java/uk/gov/hmcts/probate/core/service/IdentifierConfiguration.java
  src/main/java/uk/gov/hmcts/probate/core/service/SubmitServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/CaveatMapper.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/core/service/SubmitServiceImplTest.java
  src/test/resources/caveatForm.json
Labels: ns:probate-orchestrator-service-pr-42
