Repository hmcts/probate-orchestrator-service, pull requests merged in 2019-02, with the labels that each got.

#14 Pact broker
  Jenkinsfile_CNP
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
Labels: ns:probate-orchestrator-service-pr-14

#18 Update Java chart to 12 or greater
  charts/probate-orchestrator-service/requirements.yaml
Labels: ns:probate-orchestrator-service-pr-18

#12 PRI-139: upgrade jackson databind lib to fix security issues
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate-orchestrator-service-pr-12

#21 PRO-4734 update java
  Dockerfile
Labels: ns:probate-orchestrator-service-pr-21

#29 Pri 142 create check answers summary endpoint
  Dockerfile
  charts/probate-orchestrator-service/values.aat.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  kubernetes/config.aat.yaml
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/SubmitServiceConsumerCaseDetailsTest.java
  src/main/java/uk/gov/hmcts/probate/client/BusinessServiceApi.java
  src/main/java/uk/gov/hmcts/probate/client/BusinessServiceConfiguration.java
  src/main/java/uk/gov/hmcts/probate/client/SubmitServiceApi.java
  src/main/java/uk/gov/hmcts/probate/configuration/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentControllerConfiguration.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentsController.java
  src/main/java/uk/gov/hmcts/probate/core/service/BusinessServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/health/HealthConfiguration.java
  src/main/java/uk/gov/hmcts/probate/service/BusinessService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/DocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/BusinessServiceImplTest.java
  src/test/resources/businessDocuments/invalidBulkScanCoverSheet.json
  src/test/resources/businessDocuments/invalidCheckAnswersSummary.json
  src/test/resources/businessDocuments/invalidLegalDeclaration.json
  src/test/resources/businessDocuments/validBulkScanCoverSheet.json
  src/test/resources/businessDocuments/validCheckAnswersSummary.json
  src/test/resources/businessDocuments/validLegalDeclaration.json
Labels: ns:probate-orchestrator-service-pr-29

#30 add hmctsdemo vars
  Jenkinsfile_CNP
  infrastructure/hmctsdemo.tfvars
Labels: ns:probate-orchestrator-service-pr-30

#19 Pri 136 create jenkins webhook
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/ControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/FormsControllerDraftProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/FormsControllerSubmissionsProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/SubmitServiceConsumerCaseDetailsTest.java
  src/contractTest/resources/application.properties
  src/contractTest/resources/json/intestacyGrantOfRepresentation_full_response.json
  src/contractTest/resources/json/intestacyGrantOfRepresentation_invalid_response.json
  src/main/java/uk/gov/hmcts/probate/client/SubmitServiceApi.java
Labels: ns:probate-orchestrator-service-pr-19

#31 Changes to handle master branch in Jenkins
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/resources/application.properties
Labels: ns:probate-orchestrator-service-pr-31

#32 Pact broker
  Jenkinsfile_CNP
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/IntestacyDraftsFormsControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/IntestacySubmissionsFormsControllerProviderTest.java
Labels: ns:probate-orchestrator-service-pr-32

#33 Pro 4152 update probate commons version
  build.gradle
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/CaveatAliasNameMapper.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/CaveatAliasNameMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/CaveatTestDataCreator.java
Labels: ns:probate-orchestrator-service-pr-33
