Repository hmcts/probate-orchestrator-service, pull requests merged in 2019-01, with the labels that each got.

#8 PRI-66: increase code coverage
  src/main/java/uk/gov/hmcts/probate/client/OrchestratorHttpHeaders.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/IhtMethodConverterTest.java
  src/test/java/uk/gov/hmcts/probate/health/ProbateHealthIndicatorTest.java
Labels: ns:probate-orchestrator-service-pr-8

#9 PRI-65: Sonar fixes
  src/main/java/uk/gov/hmcts/probate/client/OrchestratorHttpHeaders.java
  src/main/java/uk/gov/hmcts/probate/client/SubmitServiceApi.java
  src/main/java/uk/gov/hmcts/probate/client/SubmitServiceConfiguration.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/AliasNameMapperTest.java
Labels: ns:probate-orchestrator-service-pr-9

#10 Infrastructure update
  Jenkinsfile_parameterized
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
  web.config
Labels: ns:probate-orchestrator-service-pr-10

#11 PRI-139: updated ProbateCommons dependency
  build.gradle
  docker/docker-compose-with-ccd.yml
  kubernetes/config.aat.yaml
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/SubmitServiceConsumerCaseDetailsTest.java
  src/contractTest/resources/json/intestacyGrantOfRepresentation_full.json
  src/contractTest/resources/json/intestacyGrantOfRepresentation_invalid.json
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/IntestacyMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/RegistryLocationMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/qualifiers/FromRegistryLocation.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/qualifiers/ToRegistryLocation.java
  src/test/java/uk/gov/hmcts/probate/core/service/SubmitServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/IntestacyMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/IntestacyTestDataCreator.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/RegistryLocationMapperTest.java
Labels: ns:probate-orchestrator-service-pr-11

#13 Pro 4152 add caveat classes to orchestration service
  build.gradle
  src/main/java/uk/gov/hmcts/probate/controller/FormsController.java
  src/main/java/uk/gov/hmcts/probate/core/service/IdentifierConfiguration.java
  src/main/java/uk/gov/hmcts/probate/core/service/SubmitServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/CaveatAliasNameMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/CaveatMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/qualifiers/FromCaveatCollectionMember.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/qualifiers/ToCaveatCollectionMember.java
  src/main/java/uk/gov/hmcts/probate/service/SubmitService.java
  src/test/java/uk/gov/hmcts/probate/controller/FormsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/SubmitServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/CaveatAliasNameMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/CaveatMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/CaveatTestDataCreator.java
  src/test/resources/caveatForm.json
Labels: ns:probate-orchestrator-service-pr-13
