Repository hmcts/probate-orchestrator-service, pull requests merged in 2019-09, with the labels that each got.

#102 Update Javalogging
  build.gradle
  dependency-check-suppressions.xml
  lib/AI-Agent.xml
  src/main/java/uk/gov/hmcts/probate/OrchestratorApplication.java
  src/main/java/uk/gov/hmcts/probate/health/HealthConfiguration.java
Labels: ns:probate-orchestrator-service-pr-102

#103 add aat & secrets
  Jenkinsfile_CNP
  charts/probate-orchestrator-service/values.aat.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:probate-orchestrator-service-pr-103

#107 add secrets to values.yaml
  charts/probate-orchestrator-service/Chart.yaml
  charts/probate-orchestrator-service/requirements.yaml
  charts/probate-orchestrator-service/values.aat.template.yaml
  charts/probate-orchestrator-service/values.preview.template.yaml
  charts/probate-orchestrator-service/values.yaml
  dependency-check-suppressions.xml
Labels: ns:probate-orchestrator-service-pr-107

#108 update java version
  Dockerfile
  charts/probate-orchestrator-service/Chart.yaml
  charts/probate-orchestrator-service/requirements.yaml
  infrastructure/main.tf
  lib/applicationinsights-agent-2.3.1.jar
Labels: ns:probate-orchestrator-service-pr-108

#109 Disable Legacy Deployment
  Jenkinsfile_CNP
Labels: ns:probate-orchestrator-service-pr-109

#117 Enable Legacy Deployment ACS
  Jenkinsfile_CNP
Labels: ns:probate-orchestrator-service-pr-117

#119 Testing
  Dockerfile
  Jenkinsfile_CNP
  charts/probate-orchestrator-service/requirements.yaml
  charts/probate-orchestrator-service/values.aat.template.yaml
  charts/probate-orchestrator-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/probate/security/ServiceAuthConfiguration.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
Labels: ns:probate-orchestrator-service-pr-119
