Repository hmcts/probate-orchestrator-service, pull requests merged in 2019-11, with the labels that each got.

#164 PRO-6545: Not updating when executor has disagreed to declaration
  build.gradle
Labels: ns:probate-orchestrator-service-pr-164

#169 PRO-6602: Fix Sonar Coverage
  build.gradle
Labels: ns:probate-orchestrator-service-pr-169

#167 PRO-6600: Iht fix dodgy chars
  build.gradle
  src/test/resources/intestacyForm.json
Labels: ns:probate-orchestrator-service-pr-167

#170 PRO-6602: Fix Duplicate Cases Error
  build.gradle
  src/main/java/uk/gov/hmcts/probate/client/persistence/PersistenceServiceApi.java
  src/main/java/uk/gov/hmcts/probate/core/service/migration/FormDataMigrator.java
  src/main/java/uk/gov/hmcts/probate/utils/ScheduledConfiguration.java
  src/main/resources/idam_ids.csv
Labels: ns:probate-orchestrator-service-pr-170

#171 PRO-6602: Increase feign client timeout for SubmitServiceApi calls
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/migration/LegacyIntestacyMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/migration/LegacyPaMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/migration/FormDataMigrator.java
  src/main/java/uk/gov/hmcts/probate/utils/ScheduledConfiguration.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/FormsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/SubmitServiceImplTest.java
  src/test/resources/intestacyFormTest.json
Labels: ns:probate-orchestrator-service-pr-171

#174 PRO-6602: Fix executor migration issue
  build.gradle
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/migration/LegacyExecutorsMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/migration/LegacyIntestacyMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/migration/LegacyPaMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/migration/ToLegacyExecutorApplyingCollectionMember.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/migration/ToLegacyExecutorNotApplyingCollectionMember.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/LegacyIntestacyMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/LegacyPaMapperTest.java
  src/test/resources/legacyPaForm.json
Labels: ns:probate-orchestrator-service-pr-174

#178 PRO-6602: Update idam csv entries
  src/main/resources/idam_ids.csv
Labels: ns:probate-orchestrator-service-pr-178

#181 PRO-6602: Update idam csv entries run 12
  src/main/resources/idam_ids.csv
Labels: ns:probate-orchestrator-service-pr-181

#173 PRO-6653: added missing legacy fields
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/IntestacyMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/migration/LegacyIntestacyMapper.java
Labels: ns:probate-orchestrator-service-pr-173

#165 Pro 6548 postcode fix
  build.gradle
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/ExecutorApplyingMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/IntestacyMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/PaMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/migration/LegacyIntestacyMapper.java
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/migration/LegacyPaMapper.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/PaTestDataCreator.java
  src/test/java/uk/gov/hmcts/probate/core/service/migration/IdamUsersCsvLoaderTest.java
  src/test/resources/intestacyFormTest.json
Labels: ns:probate-orchestrator-service-pr-165
