Repository hmcts/probate-orchestrator-service, pull requests merged in 2020-11, with the labels that each got.

#394 functional tests added and updated utils
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IntegrationTestBase.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/TestAuthTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/TestTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/model/IdamData.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/model/Role.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/FormsFunctionalTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/utils/TestUtils.java
  src/functionalTest/resources/application.properties
  src/functionalTest/resources/json/intestacyForm_partial.json
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-394

#322 Pro 5837 persist deceased alias pa caveat
  build.gradle
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/CaveatMapper.java
  src/main/resources/idam_ids.csv
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/CaveatTestDataCreator.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/PaMapperTest.java
  src/test/resources/caveatForm.json
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-322

#397 Added new functional tests for Grant Caveat Documents Controllers
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/CaveatControllerFunctionalTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/DocumentsControllerFunctionalTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/FormsFunctionalTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/GrantControllerFunctionalTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/utils/TestUtils.java
  src/functionalTest/resources/json/InvalidAttributeLegalDeclaration.json
  src/functionalTest/resources/json/documentUpload.json
  src/functionalTest/resources/json/download11.jpeg
  src/functionalTest/resources/json/intestacyForm.json
  src/functionalTest/resources/json/invalidAttributeAnswersSummary.json
  src/functionalTest/resources/json/invalidBulkScanCoversheet.json
  src/functionalTest/resources/json/validAnswersSummary.json
  src/functionalTest/resources/json/validBulkScanCoversheet.json
  src/functionalTest/resources/json/validLegalDeclaration.json
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-397

#405 Added new functional tests for DataExtract and updatePayments control…
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/DataExtractControllerFunctionalTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/PaymentUpdateControllerFunctionalTests.java
  src/functionalTest/resources/json/payment.json
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-405

#413 New validations tests in Form Controller
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/FormsFunctionalTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/InvitationControllerFunctionalTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/utils/TestUtils.java
  src/functionalTest/resources/json/GoPForm_Full.json
  src/functionalTest/resources/json/payment.json
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-413

#414 Fixing Pending tag tests in Invitation Controller Functional Tests
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/InvitationControllerFunctionalTests.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-414
