Repository hmcts/probate-orchestrator-service, pull requests merged in 2021-05, with the labels that each got.

#537 DTSPB-1869-remove-logs
  src/main/java/uk/gov/hmcts/probate/controller/FormsController.java
  src/main/java/uk/gov/hmcts/probate/core/service/SubmitServiceImpl.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-537

#546 DTSPB-1526: bump probate-commons
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-546

#542 DTSPB-1946: remove null pointer from summary mapper
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/CaseSummaryMapper.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-542

#547 Revert probate commons tag version to non lev changes
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-547
