Repository hmcts/probate-orchestrator-service, pull requests merged in 2022-05, with the labels that each got.

#666 Dtspb 247 resend notification after executor email changed
  build.gradle
  charts/probate-orchestrator-service/Chart.yaml
  charts/probate-orchestrator-service/values.yaml
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/ExecutorApplyingMapper.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-666

#671 Dtspb 247 exec resend
  charts/probate-orchestrator-service/Chart.yaml
  charts/probate-orchestrator-service/values.yaml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-671

#669 DTSPB-2688 remove instances of real email and phone number of ft
  src/contractTest/resources/json/json_form.json
  src/contractTest/resources/json/probateGrantOfRepresentation_partial_submission.json
  src/contractTest/resources/json/probateGrantOfRepresentation_partial_submission_response.json
  src/contractTest/resources/json/probateGrantOfRepresentation_submission.json
  src/contractTest/resources/json/probateGrantOfRepresentation_submission_response.json
  src/contractTest/resources/json/probateSubmitForm.json
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-669

#672 DTSPB-2781: upgrade commons
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-672

#674 Autoscaling Update Chart.yaml
  charts/probate-orchestrator-service/Chart.yaml
  charts/probate-orchestrator-service/values.yaml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-674

#675 DTSPB-2799: Fix CVE-2016-1000027 Vulnerability For probate-submit-ser…
  charts/probate-orchestrator-service/Chart.yaml
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-675

#673 DTSPB-2705 dob equals dod
  build.gradle
  charts/probate-orchestrator-service/Chart.yaml
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-673, nightly

#676 DTSPB-2801: resolved CVE
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-676

#670 DTSPB-2672: implementing Open ID Connect (OICD)
  build.gradle
  charts/probate-orchestrator-service/Chart.yaml
  charts/probate-orchestrator-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/probate/client/IdamClientApi.java
  src/main/java/uk/gov/hmcts/probate/core/service/SecurityUtils.java
  src/test/java/uk/gov/hmcts/probate/core/service/SecurityUtilsTest.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-670
