Repository hmcts/probate-orchestrator-service, pull requests merged in 2022-11, with the labels that each got.

#717 DTSPB-3120 Suppress CVE-2022-42252
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-717

#713 DTSPB-3041: upgraded SB to 2.7.4
  build.gradle
  charts/probate-orchestrator-service/Chart.yaml
  charts/probate-orchestrator-service/values.yaml
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, nightly, rel:probate-orchestrator-service-pr-713

#718 DTSPB-3041 revert values.yaml
  charts/probate-orchestrator-service/Chart.yaml
  charts/probate-orchestrator-service/values.yaml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-718
