Repository hmcts/probate-orchestrator-service, pull requests merged in 2022-02, with the labels that each got.

#638 DTSPB-2584: Resolve the below deprecated warning form Java repos
  charts/probate-orchestrator-service/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-638

#639 DTSPB-2586 Fix CVE failures
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-639

#642 DTSPB-2604 Fix Dep failure
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-642

#644 bump java and chart version
  charts/probate-orchestrator-service/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-644
