Repository hmcts/probate-orchestrator-service, pull requests merged in 2022-06, with the labels that each got.

#681 DTSPB-2824: Investigation: Effective way for Scheduling
  README.md
  bin/add-cron.sh
  build.gradle
  src/main/java/uk/gov/hmcts/probate/OrchestratorApplication.java
  src/main/java/uk/gov/hmcts/probate/core/service/task/ScheduledTaskRunner.java
  src/main/java/uk/gov/hmcts/probate/schedule/SmeeAndFordExtractTask.java
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/task/ScheduledTaskRunnerTest.java
  src/test/java/uk/gov/hmcts/probate/schedule/SmeeAndFordExtractTaskTest.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-681

#683 DTSPB-2837: fixing additional tests
  src/test/java/uk/gov/hmcts/probate/core/service/task/ScheduledTaskRunnerTest.java
  src/test/java/uk/gov/hmcts/probate/schedule/SmeeAndFordExtractTaskTest.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-683

#682 Dtspb 2725 no docs required
  build.gradle
  charts/probate-orchestrator-service/Chart.yaml
  src/functionalTest/resources/json/validBulkScanCoversheet.json
  src/test/java/uk/gov/hmcts/probate/controller/DocumentsControllerTest.java
  src/test/resources/businessDocuments/validBulkScanCoverSheet.json
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-682

#686 Dtspb 2824 scheduler smee and ford
  src/main/java/uk/gov/hmcts/probate/schedule/SmeeAndFordExtractTask.java
  src/test/java/uk/gov/hmcts/probate/schedule/SmeeAndFordExtractTaskTest.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-686

#688 DTSPB-2824: Investigation and Implement: Effective way for Scheduling…
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/DataExtractControllerFunctionalTests.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerTest.java
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerUnitTest.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-688

#687 DTSPB-2869: use springdoc
  src/main/java/uk/gov/hmcts/probate/controller/CaveatController.java
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentsController.java
  src/main/java/uk/gov/hmcts/probate/controller/FormsController.java
  src/main/java/uk/gov/hmcts/probate/controller/GrantController.java
  src/main/java/uk/gov/hmcts/probate/controller/PaymentUpdateController.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-687

#637 Dtspb 1238 refactor doc store api
  charts/probate-orchestrator-service/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/tests/DocumentsControllerFunctionalTests.java
  src/main/java/uk/gov/hmcts/probate/client/backoffice/BackOfficeApi.java
  src/main/java/uk/gov/hmcts/probate/client/business/BusinessServiceDocumentsApi.java
  src/main/java/uk/gov/hmcts/probate/controller/DocumentsController.java
  src/main/java/uk/gov/hmcts/probate/core/service/BackOfficeServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/core/service/BusinessServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/service/BackOfficeService.java
  src/main/java/uk/gov/hmcts/probate/service/BusinessService.java
  src/test/java/uk/gov/hmcts/probate/controller/DocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/BackOfficeServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/BusinessServiceImplTest.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-637

#691 DTSPB-2892 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-691
