Repository hmcts/probate-orchestrator-service, pull requests merged in 2022-07, with the labels that each got.

#694 DTSPB-2896 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-694

#690 DTSPB-2875 Deleted unused files and added tests
  charts/probate-orchestrator-service/Chart.yaml
  src/main/java/uk/gov/hmcts/probate/model/persistence/deserialization/BigDecimalDeserializer.java
  src/main/java/uk/gov/hmcts/probate/model/persistence/deserialization/IhtTypeDeserializer.java
  src/main/java/uk/gov/hmcts/probate/model/persistence/deserialization/LegacyYesNoDeserializer.java
  src/main/java/uk/gov/hmcts/probate/model/persistence/deserialization/MaritalStatusDeserializer.java
  src/main/java/uk/gov/hmcts/probate/model/persistence/deserialization/RelationshipDeserializer.java
  src/test/java/uk/gov/hmcts/probate/client/FeignErrorDecoderTest.java
  src/test/java/uk/gov/hmcts/probate/client/ResponseDecoratorTest.java
  src/test/java/uk/gov/hmcts/probate/controller/DataExtractControllerUnitTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/DataExtractDateValidatorTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/PaymentUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/CaveatAliasNameMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/ExecutorNamesMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/IhtMethodConverterTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/LegalStatementExecutorsNotApplyingMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/LocalDateTimeMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/OverseasCopiesMapperTest.java
  src/test/java/uk/gov/hmcts/probate/core/service/mapper/PoundsConverterTest.java
  src/test/java/uk/gov/hmcts/probate/model/persistence/deserialization/BigDecimalDeserializerTest.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-690

#697 DTSPB-2940 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-697

#698 chart upgd
  charts/probate-orchestrator-service/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-698

#695 Dtspb 2858 no docs required email
  build.gradle
  charts/probate-orchestrator-service/Chart.yaml
  src/main/java/uk/gov/hmcts/probate/core/service/mapper/IntestacyMapper.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-695

#679 Dtspb 1714 upgrade commons sb
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-679
