Repository hmcts/probate-orchestrator-service, pull requests merged in 2025-01, with the labels that each got.

#1136 DTSPB-4293 Commons version
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-1136

#1140 DTSPB-4237 update appinsights logging
  build.gradle
  charts/probate-orchestrator-service/Chart.yaml
  charts/probate-orchestrator-service/values.yaml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/probate/OrchestratorApplication.java
  src/main/java/uk/gov/hmcts/probate/appinsights/AppInsightsConfig.java
  src/main/java/uk/gov/hmcts/probate/appinsights/AppInsightsEventRepository.java
  src/main/java/uk/gov/hmcts/probate/appinsights/AppInsightsEvents.java
  src/main/java/uk/gov/hmcts/probate/appinsights/EventRepository.java
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-orchestrator-service-pr-1140

#1078 DTSPB-4115: Bump commons and point PR
  build.gradle
  charts/probate-orchestrator-service/Chart.yaml
Labels: ns:probate, prd:probate, aat/no-changes, prod/no-changes, rel:probate-orchestrator-service-pr-1078
