Repository hmcts/probate-orchestrator-service, pull requests merged in 2025-06, with the labels that each got.

#1243 DTSPB-2859 Remove old cron scheduling which will now be managed in k8s
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/probate/controller/DataExtractController.java
  src/main/java/uk/gov/hmcts/probate/controller/GrantController.java
  src/main/resources/application.yml
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-1243

#1299 DTSPB-4854 fix pipeline, set renovate schedule
  .github/renovate.json
  build.gradle
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/ControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/IntestacyDraftsFormsControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/IntestacySubmissionsFormsControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/InviteAllAgreedControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/InviteDataControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/InviteLinkControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/InvitePinNumberControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/ProbateDocumentsControllerCheckAnswersProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/ProbateDocumentsControllerCoverSheetProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/ProbateDocumentsControllerLegalDeclarationProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/ProbateDraftsFormsControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/probate/contract/tests/ProbateSubmissionsFormsControllerProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/CaveatControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/DataExtractControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/DocumentsControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/FormsControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/GrantControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/InvitationControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/controller/PaymentUpdateControllerIT.java
  src/main/java/uk/gov/hmcts/probate/health/HealthConfiguration.java
Labels: ns:probate, prd:probate, rel:probate-orchestrator-service-pr-1299

#1283 DTSPB-4702 fix case initiate Issue
  charts/probate-orchestrator-service/Chart.yaml
  src/main/java/uk/gov/hmcts/probate/client/submit/SubmitServiceApi.java
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-orchestrator-service-pr-1283
